<style>
  @font-face {
    font-family: "Caveat";
    src: url('<%= font_path "Caveat-VariableFont_wght.ttf" %>')
  }
  
  body {
    cursor: url('<%= asset_path "horse1.png" %>'), auto;
  }

  .balance_div {
      margin: 0 0 5px auto;
      text-align: center;
      padding: 5px;
      width: 10em;
      outline: 2px;
      border-radius: 10px;

      font-family: "Caveat";
      font-size: x-large;
  }
  .balance {
      margin: auto;
      text-align: center;
  }

  .race_background {
      width: 100%;
  }

  .race_image {
      position: relative;
      background-image: url('<%= asset_path "track.png" %>');
      animation-name: parallaxImage;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: paused;

      left: 0px;
      width: 200%;
      height: 200px;
  }

  @keyframes parallaxImage {
      100% {transform: translateX(-400px);}
  }



  .horse_wager_table {
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;

    margin: auto;

    color: #1f1f1f;
  }

  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }

  thead,
  tfoot {
    background-color: #00000010;
  }

  th,
  td {
    border: 2px solid #1f1f1fc0;
    padding: 8px 10px;

    font-family: "Caveat";
    font-size: large;
  }

  td {
    border-bottom: 0;
    border-top: 0;
  }

  tr td:first-child {
    border-left: 0;
  }
  tr td:last-child {
    border-right: 0;
  }

  td:last-of-type {
    text-align: center;
  }

  tbody > tr:nth-of-type(even) {
    background-color: #00000010;
  }

  tfoot th {
    text-align: right;
  }

  tfoot td {
    font-weight: bold;
  }

  .paper {
    position: relative;
    margin: 2rem auto;
    width: fit-content;
    min-height: 30rem;
    padding: 2rem;
    padding-top: 0;

    box-shadow: 0 0 1rem #000000b0;

    background-image: url('<%= asset_path "paper.png" %>');
  }

  .pin {
    display: block;
    height: 2rem;
    margin: auto;
  }

  .betting_closed_stamp {
    margin: auto;
    display: block;
  }

  .horse_betting_header {
    text-align: center;
    margin: 1rem 0;

    font-family: "Caveat";
    font-size: xx-large;
  }
</style>


<div>
    <div class="race_background">
        <div id="race_track" class="race_image"></div>
        <% Horse.all.each_with_index do |horse, index| %>
            <%= render 'shared/horse_race/horse', horse: horse, track_index: index %>
        <% end %>
    </div>

    <div class="horse_bet_super_grid">
        <div id="horse_wager_placed_div" class="horse_wager_placed_div">
            <%# <div class="wood_sign"> %>
            <div class="paper">
                <%= image_tag "pin.png", :class => "pin" %>
                <header class="horse_betting_header">Bets</header>
                <table class="horse_wager_table">
                    <thead>
                        <tr>
                            <th scope="col">Horse</th>
                            <th scope="col">Bet Type</th>
                            <th scope="col">Bet Amount</th>
                            <th scope="col">Ratio</th>
                        </tr>
                    </thead>
                    <tbody id="horse_wager_placed_body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center_grid_item_div">
            <div class="paper">
                <%= image_tag "pin.png", :class => "pin" %>
                <div class="balance_div"><a class="balance">Balance: $<%= Current.session.user.balance %></a></div>
                <div id="horse_betting_div">
                    <header class="horse_betting_header">Place your bets!</header>
                    <div id="main_betting_menu" class="horse_betting_menu">
                        <% Horse.all.each do |horse| %>
                            <%= render 'shared/horse_race/bet/card', horse: horse %>
                        <% end %>
                    </div>
                </div>
                <div id="horse_closed_betting_div">
                    <%= image_tag "betting_closed.png", :class => "betting_closed_stamp" %>
                </div>
            </div>
        </div>

        <div id="horse_wager_payout_div" class="horse_wager_payout_div">
            <div class="paper">
                <%= image_tag "pin.png", :class => "pin" %>
                <header class="horse_betting_header">Payouts</header>
                <table class="horse_wager_table">
                    <thead>
                        <tr>
                            <th scope="col">Horse</th>
                            <th scope="col">Bet Type</th>
                            <th scope="col">Payout</th>
                        </tr>
                    </thead>
                    <tbody id="horse_wager_payout_body">
                    </tbody>
                </table>
            </div>
        </div>


    </div>
    <% if @debug %>
        <%= button_to "Restart Race", restart_race_path, method: :post %>
    <% end %>

</div>
