<style>

   body {
    cursor: url('<%= asset_path "horse1.png" %>'), auto;
   }

  .background {
      width: 100vw;
  }

  .race_image {
      position: relative;
      background-image: url('<%= asset_path "track.png" %>');
      animation-name: parallaxImage;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      left: 0px;
      width: 200%;
      height: 200px;
  }

  @keyframes parallaxImage {
      100% {transform: translateX(-400px);}
  }

  .horse_bet_grid {

    display: grid;
    /* flex-direction: row; */
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
</style>


<div>
    <div class="background">
        <div class="race_image"></div>
        <% Horse.all.each_with_index do |horse, index| %>
            <%= render 'shared/horse_race/horse', horse: horse, track_index: index %>
        <% end %>
    </div>

    <div class="horse_bet_grid" style="">
        <% Horse.all.each do |horse| %>
            <%= render 'shared/horse_race/bet/card', horse: horse %>
        <% end %>
    </div>

    <% if @debug %>
        <%= button_to "Restart Race", restart_race_path, method: :post %>
    <% end %>

    <a id="balance">$<%= Current.session.user.balance %></a>
</div>
