<%= stylesheet_link_tag 'chat.css', media: 'all' %>

<div class="chat-div">
    <% if logged_in? %>
        <% channels.each_with_index do |channel, index| %>
            <div class="chat-text-div" id="<%= channel %>" style="visibility: <%= index.zero? ? "visible" : "hidden" %>"></div>
        <% end %>
        <div class="chat-footer">
        <%= form_with(url: chat_send_url, method: :post, remote: true, data: {turbo: true}, html: { id: 'chat-form' }) do |form| %>
            <%= form.select :channel, channels.map { |channel| [channel] }, {}, { id: 'channel-select', class: 'channel-select' } %>
            <div class="chat-input-div">
            <%= form.text_field :input_string, pattern: "[a-zA-Z0-9 ]*", title: "No special characters", :class => "form-control", placeholder:"Type a message...", maxlength: 40, id:'chat-input' %>
            <%= form.submit "Send", id:'send-button', class: "send-button", type: "image", src: asset_path("send.svg") %>
            </div>
        </div>
        <% end %>

    <% else %>
        <div class="chat-login-div">
            <%= link_to "Log in to use the chat!",  new_session_path, class: "chat-login-text" %>
        </div>
    <% end %>
</div>


<script>
// Clears the text box after a delay
// The delay is necessary as if we clear it before hand it won't be sent to the server
document.getElementById('chat-form').addEventListener('submit', function() {
  const CHAT_INPUT_CLEAR_DELAY = 20

  setTimeout(function() {
    document.getElementById('chat-input').value = '';
  }, CHAT_INPUT_CLEAR_DELAY);
});

// Hides the channels that are currently not selected
document.getElementById('channel-select').addEventListener('change', function() {
  text = document.getElementById('channel-select').value;

  var array = <%= raw channels.to_json %>;

  array.forEach(function (channel, index) {
    document.getElementById(channel).style.visibility = "hidden";
    document.getElementById(channel).style.height = "0";
  });

  document.getElementById(text).style.visibility = "visible";
  document.getElementById(text).style.height = "auto";
});
</script>
