<%= stylesheet_link_tag 'partials/header.css', media: 'all' %>

<div class="header-partial">
  <div class="header-account-section">
      <%= render 'shared/account_menu'%>
  </div>
    <h1 class="header-title">Casino</h1>
    <div class = "header-navigation">
      <%= link_to "Lobby", root_path, class: ("active" if on_lobby_page?)%>
      <%= link_to "Roulette", roulette_roulette_board_path, class: ("active" if on_roulette?), method: :post, data: { turbo: false } %>
      <%= link_to "Horse Racing", horse_race_index_path, class: ("active" if on_horse_racing?), method: :post, remote: true %>
    </div>
    <div  onclick = exposeChat() class="header-chat-div">
      <%= inline_svg_tag "chat-icon.svg", alt: "chat icon", class: "chat-icon"%>
      Chat
    </div>

</div> 

<script>
  function exposeChat() {
    chat = document.getElementById('main-chat')
    chat.classList.toggle('expand')
  }
</script>