<div id="horse<%= horse.id =%>Card", style="display: flex; flex-direction: column; align-items: center;">
    <b><%= horse.name %></b>
    <%= image_tag horse.image, style: "width: 100px; height: 100px;"%>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :straight %>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :place %>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :show %>
</div>