<%= stylesheet_link_tag 'horse_betting.css', media: 'all' %>

<div class="horse_card" id="horse<%= horse.id =%>Card">
    <b><%= horse.name %></b>
    <%= image_tag horse.image, style: "width: 100px; height: 100px;"%>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :straight %>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :place %>
    <%= render 'shared/horse_race/bet/form', horse: horse, kind: :show %>
</div>
